@import "../../../Styles/settings.scss";


.container {
    width: 100vw;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100px;
    background-color: $color-one;
}

.imagesContainer {
    width: 40%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.mainImage {
    width: clamp(300px, 70%, 600px);
    display: grid;
    place-content: center;


    img {
        width: 200px;
        height: 200px;
        border-radius: $radius-big;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
        object-fit: contain;
    }
}

.smallImagesContainer {
    position: relative;
    width: clamp(300px, 70%, 600px);
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    img {
        position: relative;
        width: 75px;
        height: 75px;
        object-fit: contain;
        border-radius: $radius-big;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
        transition: $transition;

        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.6);
        }
    }
}

.productDetailsContinaier {
    width: 40%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .title {
        padding: 10px;
        font-weight: 700;
        font-size: calc($base-size * 2);
    }

    .description {
        padding: 10px;
    }

    .orderForm {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .myInput {
        width: 60px;
        height: 30px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
    }
}

.smallImagesContainer {}

@media all and (max-width: 876px) {
    .container {
        flex-direction: column;
    }

    .imagesContainer {
        align-items: center;
    }

    .mainImage {
        margin-top: 100px;
        width: 200px;
        height: 200px;
    }

    .smallImagesContainer {
        width: 400px;

        img {
            width: 55px;
            height: 55px;
        }
    }

    .productDetailsContinaier {
        width: max(300px, 70%);
        align-items: center;
    }
}