@import "../../../Styles/settings.scss";

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-one;
    overflow: hidden;

    &::after {
        $size: max(1000px, 100%);

        position: absolute;
        ;
        left: -25%;
        bottom: -25%;
        content: "";
        height: 150%;
        aspect-ratio: 1 /1;
        border-radius: 50%;
        background-color: darken($color-one, 4);
    }
}

@media all and (max-width: 768px) {
    .container {

        &::after {
            left: -35%;
        }
    }
}