@import "../../../Styles/settings.scss";

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 100%;
    min-height: 70vh;
    height: 100%;
    background-color: $color-one;
    color: $color-white;
    overflow: hidden;

    &::before {
        position: absolute;
        left: -20%;
        bottom: -50%;
        content: "";
        height: 200%;
        aspect-ratio: 1 /1;
        border-radius: 50%;
        background-color: darken($color-one, 4);
    }

    img {
        height: 70vh;
        aspect-ratio: 1 / 1.5;
        opacity: 0.8;
    }
}

.startSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .title {
        padding: 40px;
        font-size: calc($base-size * 2.7);
        text-align: center;
        font-weight: 700;
        word-wrap: break-word;
    }

    .subTitle {
        font-size: calc($base-size * 1.5);
        text-align: center;
        font-weight: 700;
        padding: 10px 20px;
        border-radius: $radius;
        background-color: $color-three;
        transition: $transition;

        &:hover {
            cursor: pointer;
            background-color: darken($color-three, 8);
        }
    }
}



@media all and (max-width: 876px) {
    .container {
        grid-template-columns: 1fr;

        &::after {
            left: -35%;
        }

        img {
            display: none;
        }
    }
}