@import "../../../Styles/settings.scss";

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 50px;
    margin-top: 20px;
    background-color: $color-one;
    color: $color-white;
    font-size: calc($base-size * 1.5);
}