$color-white: rgba(240, 240, 240, 1);
$color-light-grey: rgba(235, 235, 235, 1);
$color-one:#5ec27c;
$color-two:#23ab88;
$color-three:#00938b;
$color-four:#007984;
$color-five:#216072;
$color-six:#2f4858;
$color-red:rgb(247, 71, 91);

$text-color: $color-white;
$font-text: 'Poppins',
sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.25s ease;